﻿
@model UI.Areas.DevChallenge.ViewModels.TitleViewModel
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


   
    <title>DevChallenge</title> 

    @Styles.Render("http://b6adc309cb583410ebe3-877d2ecaf11b88d5e17327c758e17ef6.r98.cf2.rackcdn.com/font-awesome-4.3.0/css/font-awesome.css")
    @Styles.Render("http://b6adc309cb583410ebe3-877d2ecaf11b88d5e17327c758e17ef6.r98.cf2.rackcdn.com/museo-sans-1.0.1/css/museo-sans.css")
    @Styles.Render("http://b6adc309cb583410ebe3-877d2ecaf11b88d5e17327c758e17ef6.r98.cf2.rackcdn.com/museo-slab-1.0.1/css/museo-slab.css")
    @Styles.Render("http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css")
    @Styles.Render("~/devChallenge/css/app")
    
</head>
<body class="page-container dashboard rt-mng" ng-app="devChallengeApp" id="rt-body" ng-class="tabClass">

    

    <div id="wrapper">     


        @RenderBody()
        @RenderSection("bodyTemplates", false)
    
    </div>



    @Scripts.Render("~/devChallenge/js/jquery")
    @Scripts.Render("~/devChallenge/js/bootstrap")
    @Scripts.Render("~/devChallenge/js/angular")
    @Scripts.Render("~/devChallenge/js/vendors")

  @Scripts.Render("~/devChallenge/js/app")
   

</body>

</html>
