﻿<script type="text/ng-template" id="templates/devChallengeUI.html">

    <div id="journal-header" class="journal-home" style="position: relative;">
        <div class="container-fluid main-container-xxl">
            <table id="logo-table" style="width:100%">
                <tbody>
                    <tr style="background-color: #f1f1f1;    border-bottom: 1px solid #666;    border-color: #e5e5e5;">
                        <td width="100%" valign="bottom" align="center">

                            <h1 style=" font-size 50px; font-family italic;">
                                DevChallenge
                            </h1>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div><!-- / #Header -->

    <div class="row">
        <div class="row row-zero" style="margin:20px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    border: 1px solid #808080; text-align:left;padding:20px ;width:35%">

            <h4> Enter the title name to see more details</h4>
            <form class="form-inline" style="width: 100%;" name="title">
                <div class="form-group">
                    <input style="width: 500px;" type="text" class="form-control" id="searchtxt" ng-model="Title.TitleName" required />
                </div>
                <button type="button" style="top: 0px;" class="btn btn-default btn-primary text-yellow" ng-click="search()" ng-bind-html="text">Search</button>
            </form>


            <div class="row row-zero" style="margin-left: 0px; margin-right: 0px; width:100%" ng-class="{'hidden': noRecords}">
                <div style="text-align: center; margin-top: 1%;">
                    <p>No records found.</p>
                </div>
            </div>
        </div>

        <div ng-class="{'hidden':hasRecords}" style="width: 60%; margin:20px">
            <h3>
                Results for Title Name : <span ng-bind="Title[0].TitleName"></span><br />
            </h3>
            <ul class="tab">
                <li ng-class="{ active: activeTab === 'details'}"><a href="" class="tablinks" ng-click="activeTab = 'details'">Details</a></li>
                <li><a href="" ng-click="activeTab = 'story'">Story Lines</a></li>
                <li><a href="" ng-click="activeTab = 'award'">Awards</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" ng-class="{ active: activeTab === 'details'}">
                    <h3>Details</h3>

                    <div class="selected-item" ng-repeat="title in Title ">
                        Title ID : <span ng-bind="title.TitleId"></span><br />
                        Title Name : <span ng-bind="title.TitleName"></span><br />
                        Release Year : <span ng-bind="title.ReleaseYear"></span><br />
                        <hr />
                        <br />
                        <b>OtherNames</b><br />
                        <div class="selected-item" ng-repeat="name in title.OtherNames ">
                            TitleNameLanguage : <span ng-bind="name.TitleNameLanguage"></span><br />
                            TitleNameType : <span ng-bind="name.TitleNameType"></span><br />
                            TitleName:<span ng-bind="name.TitleName"></span><br />
                            <br />
                            <hr />
                        </div>
                        <b>Genres</b><br />
                        <div class="selected-item" ng-repeat="genre in title.Genres ">
                            Genres : <span ng-bind="genre"></span><br />
                        </div>
                    </div>
                </div>

                <div class="tab-pane" ng-class="{ active: activeTab === 'story'}">
                    <h3>Story Lines</h3>
                    <div class="selected-item" ng-repeat="title in Title ">
                        Title ID : <span ng-bind="title.TitleId"></span><br />
                        <div class="selected-item" ng-repeat="story in title.Storylines ">
                            Description : <span ng-bind="story.Description"></span><br />
                            Language : <span ng-bind="story.Language"></span><br />
                            <br />
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="tab-pane" ng-class="{ active: activeTab === 'award'}">
                    <h3>Awards</h3>
                    <div class="selected-item" ng-repeat="title in Title ">
                        Title ID : <span ng-bind="title.TitleId"></span><br />
                        <div class="selected-item" ng-repeat="award in title.Awards ">
                            Award : <span ng-bind="award.Award"></span><br />
                            AwardCompany : <span ng-bind="award.AwardCompany"></span><br />
                            AwardWon : <span ng-bind="award.AwardWon"></span><br />
                            AwardYear : <span ng-bind="award.AwardYear"></span><br />
                            <hr />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


</script>
