﻿@model UI.Areas.DevChallenge.ViewModels.TitleViewModel
@using Newtonsoft.Json

@{ Layout = "~/Areas/DevChallenge/Views/Shared/_Layout.cshtml"; }


<div class="main-container-xxl page" ng-controller="devChallengecontroller" ng-init="init(@JsonConvert.SerializeObject(Model))">

       <div class="tab-content">
        <div ng-view></div>
    </div>
</div>

@section bodyTemplates {
    <div id="divTemplates">
      
        @Html.Partial("~/Areas/DevChallenge/Views/_partialLandingpage.cshtml", Model)
    </div>
    
}
